<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin| Manage Users</title>
	<link type="text/css" href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" href="/css/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link type="text/css" href="/css/theme.css" rel="stylesheet">
	<link type="text/css" href="/css/style.css" rel="stylesheet">
	<link type="text/css" href="/css/images/icons/css/font-awesome.css" rel="stylesheet">
	<link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>
</head>
<body>


	
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <i class="icon-reorder shaded"></i>
            </a>
			<a class="brand" th:href=@{/admin/orders/views}>
				Admin
		  </a>

            <div class="nav-collapse collapse navbar-inverse-collapse">
				<ul class="nav pull-right">
                    <li><a href="#">
                        Hello <span th:text=${userName}></span>
                    </a></li>
                
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div><!-- /navbar header -->

<div class="span3">
    <div class="sidebar">


<ul class="widget widget-menu unstyled">
            <li>
                <a href="/admin/orders/views">
					<i class="menu-icon icon-cog"></i>
                    Order Management
                </a>
                       
             </li>
            
            <li>
                <a href="/admin/users/views">
                    <i class="menu-icon icon-group"></i>
                    Manage users
                </a>
            </li>
        </ul>


        <ul class="widget widget-menu unstyled">
			<li><a href="/admin/categorys/views"><i class="menu-icon icon-tasks"></i> Create Category </a></li>
			<li><a href="/admin/products/insert"><i class="menu-icon icon-paste"></i>Insert Product </a></li>
			<li><a href="/admin/products/views"><i class="menu-icon icon-table"></i>Manage Products </a></li>
        
            </ul><!--/.widget-nav-->

        <ul class="widget widget-menu unstyled">
            <li>
                <a href="/logout.html">
                    <i class="menu-icon icon-signout"></i>
                    Logout
                </a>
            </li>
        </ul>

    </div><!--/.sidebar-->
</div><!--/.span3-->

	
	<div class="wrapper">
		<div class="container">
			<div class="row">
				
			<div class="span9">
					<div class="content">

	<div class="module">
							<div class="module-head" style="display: flex;">
								<h3>Manage Users</h3>
								<div class="module_search">
									<input style="margin:0" class="m-0" type="text" placeholder="Tìm kiếm">
								</div>
							</div>
							
							<div class="module-body table">
	

									<!-- <div class="alert alert-error">
										<button type="button" class="close" data-dismiss="alert">×</button>
									<strong>Oh snap!</strong> 	<?php echo htmlentities($_SESSION['delmsg']);?><?php echo htmlentities($_SESSION['delmsg']="");?>
									</div>


									<br /> -->

							
								<table cellpadding="0" cellspacing="0" border="0" >
									<thead>
										<tr>
											<th>#</th>
											<th>User's Name</th>
											<th>Full Name</th>
											<th>Email</th>
											<th>Phone</th>
											<th>Address</th>	
											<th>Role</th>							
															
										</tr>
									</thead>
									<tbody>
									
										<tr th:each="userModel,iter:${userModels}">
										<td th:text="${iter.index}"> </td>
											<td class="search_name" th:text="${userModel.userName}"> </td>
											<td class="search_full" th:text="${userModel.fullName}"> </td>
											<td class="search_email" th:text="${userModel.email}">  </td>
											<td class="search_phone" th:text="${userModel.phone}"> </td>
											<td th:text="${userModel.address}"> </td>
											<td th:if="${userModel.role.code==0}">User</td>
											<td th:if="${userModel.role.code==1}">Admin</td>
											<td th:if="${userModel.role.code==2}">Shipper</td>
											
										
									
										
								</table>
							</div>
						</div>						

						
						
					</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->



	<script src="scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
	<script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="scripts/flot/jquery.flot.js" type="text/javascript"></script>
	<script src="scripts/datatables/jquery.dataTables.js"></script>
	<script>
		const search_key = document.querySelectorAll('.search_value')
			const module_search = document.querySelector('.module_search input')
			const search_name = document.querySelectorAll('.search_name')
			const search_full = document.querySelectorAll('.search_full')
			const search_phone = document.querySelectorAll('.search_phone')
			const search_email = document.querySelectorAll('.search_email')
	module_search.addEventListener('keypress',(e)=>
	{
		const value = e.target.value.toLowerCase().trim();

		if(e.keyCode===13||e.which===13)
 		{
			console.log("search_name.length: "+search_name.length)
			var len=search_name.length;
			for (let i = 0; i < len; i++) {
				var search_name_item=search_name[i];
				var search_phone_item=search_phone[i];
				var search_email_item=search_email[i];
				var search_full_item=search_full[i];
				console.log("search_name_item"+search_name_item)
				if(search_name_item.innerHTML.toLowerCase().search(value)==-1&&search_phone_item.innerHTML.toLowerCase().search(value)==-1&&search_email_item.innerHTML.toLowerCase().search(value)==-1&&search_full_item.innerHTML.toLowerCase().search(value)==-1)
				{
					search_name_item.parentElement.style.display='none'
				}
				else {
					search_name_item.parentElement.style.display='table-row'
				}
			}
			// search_name.forEach(i=>
			// {
				
			// 	if(i.innerHTML.toLowerCase().search(value)!=-1)
			// 	{
				
			// 		i.parentElement.style.display='table-row'
			// 		console.log(i.innerHTML)
			// 	}
			// 	else 
			// 	{
	
			// 		i.parentElement.style.display='none'
				

			// 	}
				
			// })

  		}
	})
	</script>
	<!-- <script>
		$(document).ready(function() {
			$('.datatable-1').dataTable();
			$('.dataTables_paginate').addClass("btn-group datatable-pagination");
			$('.dataTables_paginate > a').wrapInner('<span />');
			$('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
			$('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
		} );
	</script> -->
</body>
